.container {
  margin-top: 20px;
  background: var(--primary-color);
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px;
}
.left {
  display: flex;
  align-items: center;
}
.left h3 {
  margin-right: 10px;
}
.left i {
  margin-right: 10px;
}
.downIcon {
  display: none;
}
.categories {
  display: flex;
  align-items: center;
}
.categories p {
  margin-right: 20px;
}

@media screen and (max-width: 767px) {
  .container {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 10px;
  }
  .left h3 {
    margin-right: 10px;
  }
  .left i {
    margin-right: 0px;
  }
  .downIcon {
    display: block;
    margin-bottom: -3px;
  }
  .rightIcon {
    display: none;
  }
  .categories {
    display: none;
  }
  .right {
    display: none;
  }
}
