.container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition: all 5s ease-in-out;
    transition: opacity 500ms;
    border: 1px solid #3232327c;
    padding: 6px 10px;
}
.container>input {
    border-radius: 3px;
    outline: none;
    border: none;
    background: transparent;
    font-size: 16px;
    color: var(--primary-color);
}
.container>input::placeholder {
    color: var(--primary-color);
}
.container>i {
    color: var(--primary-color);
    cursor: pointer;
    font-size: 16px;
    outline: none;
}

@media screen and (max-width: 767px) {
    .container {
        padding: 4px 6px;
    }
    .container>input {
        font-size: 14px;
    }
    .container>i {
        font-size: 14px;
    }
    
}