.container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition: all 5s ease-in-out;
    transition: opacity 500ms;
}
.container>input {
    padding: 4px 5px;
    border-radius: 3px;
    outline: none;
    border: none;
    background: transparent;
    color: #ffffff9a;
    border-bottom: 1px solid #ffffff9a;
    width: 200px;
}
.container>button {
    width: 25%;
    border-radius: 3px;
    padding: 8px 0px;
    background: #ffffff;
    border: none;
    color: var(--primary-color);
    text-transform: uppercase;
    cursor: pointer;
}