.container {
    flex: 1 0 auto;
    margin: 0px 90px 0px 90px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.container>input {
    width: 68%;
    padding: 8px 5px;
    border-radius: 3px;
    outline: none;
    border: none;
}
.container>button {
    width: 25%;
    border-radius: 3px;
    padding: 8px 0px;
    background: #ffffff;
    border: none;
    color: var(--primary-color);
    text-transform: uppercase;
    cursor: pointer;
}