.container {
    display: flex;
    flex-direction: column;
}
.container hr {
    border: 1px solid rgba(0, 0, 0, 0.122);
}
.goBack {
    margin: 30px 0px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
}
.subContainer {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.imgContainer {
    flex: 0 1 45%;
}
.imgContainer img {
    width: 100%;
    height: 330px;
}
.textContainer {
    flex: 0 1 25%;
    display: flex;
    flex-direction: column;
    margin: 30px 0px 0px 0px;
}
.textContainer h1 {
    color: var(--primary-color);
    text-transform: uppercase;
    margin-bottom: 25px;
    font-size: 28px;
}
.ratingContainer {
    margin: 10px 0px;
}
.price {
    margin: 10px 0px;
    font-weight: bold;
}
.description {
    margin: 10px 0px;
    width: 240px;
    font-size: 15px;
    line-height: 24px;
}
.finalContainer {
    border: 1px solid rgba(0, 0, 0, 0.192);
    flex: 0 1 23%;
}
.finalContainer>span {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
}
.finalContainer>span:nth-child(1) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.192);
}

.finalContainer>span:nth-child(2) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.192);
}
.finalContainer>span:nth-child(3) {
    place-content: center;
}

.finalContainer>span>button {
    color: #ffffff;
    background-color: black;
    text-transform: uppercase;
    width: 100%;
    padding: 10px 0px;
    font-size: 12px;
    cursor: pointer;
}