.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--primary-color);
    padding: 0px 0px 30px 0px;
}

.active {
    font-weight: bold;
}

.disabled {
    cursor: default;
}