* {
  margin: 0px;
  padding: 0px;
}

@font-face {
  font-family: light;
  src: url(./fonts/HelveticaNeue\ Light.ttf);
}
@font-face {
  font-family: heavy;
  src: url(./fonts/Helvetica\ Neu\ Bold.ttf);
}
:root {
  --primary-color: #323232;
}

body {
}

h1,h2,h3,h4,h5,h6 {
  font-family: heavy;
}
p,button,input,li,a,span {
  font-family: light;
}
a {
  text-decoration: none;
  color: unset;
}
