.container {
  display: flex;
  flex-direction: column;
}

.top {
  padding: 30px 220px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logoContainer {
  display: flex;
  align-items: center;
  border: 1px solid black;
}
.logoContainer i {
  font-size: 24px;
}
.logoContainer a p {
  color: var(--primary-color);
  font-size: 24px;
  font-weight: lighter;
  margin-left: 10px;
}
.searchContainer {
  /* border: 1px solid black; */
}



.bottom {
  padding: 20px 220px;
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.rightContainer {
  display: flex;
  align-items: center;
}
.container h4 {
  color: #ffffff;
  cursor: pointer;
  letter-spacing: 2px;
}
.searchIcon {
  color: #ffffff9a;
  font-size: 14px;  
  cursor: pointer;
  margin-left: 15px;
}
.searchIcon:hover {
  color: #ffffff;
}
.container p {
  text-transform: uppercase;
  color: #ffffff9a;
  cursor: pointer;
  font-size: 14px;
  align-self: flex-end;
  margin-left: 30px;
}
.container p:hover {
  color: #ffffff;
}
.dropbtn {
  text-transform: uppercase;
  color: #ffffff9a;
  cursor: pointer;
  font-size: 14px;
  border: none;
  background: none;
}
.dropdown {
  position: relative;
  display: inline-block;
  margin-left: 30px;
}
.dropdownContent {
  display: none;
  position: absolute;
  min-width: 120px;
  z-index: 1;
}
.dropdown:hover .dropdownContent {
  display: block;
  background: #ffffff;
}
.dropdownContent a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 14px;
}
.dropdown:hover .dropdown-content {
  display: block;
}