.container {
    display: flex;
    place-content: center;
    height: 100vh;
}
.formContainer {
    margin-top: 30px;
    width: 50%;
    min-width: 350px;
    max-width: 600px;
}
.formContainer h1 {
    text-transform: uppercase;
    margin-bottom: 30px;
    color: var(--primary-color);
}
.formContainer h3 {
    color: var(--primary-color);
}
.formContainer form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 25px;
}
.formContainer form .field {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    width: 100%;
    margin: 20px 0px 20px 10px;
}
.formContainer form .field input {
    margin-right: 5px;
    outline: none;
    background: #32323218;
}
.formContainer form button {
    border-radius: 3px;
    padding: 15px 40px;
    background: var(--primary-color);
    border: none;
    color: #ffffff;
    text-transform: uppercase;
    margin-bottom: 25px;
    cursor: pointer;
}