.card {
    border: 1px solid rgba(0, 0, 0, 0.192);
    padding: 15px 15px 25px 15px;
    flex: 0 1 180px;
    margin: 10px 10px;
}
.card img {
    height: 120px;
    width: 100%;
}
.cardBody {
    margin-left: 10px;
    color: var(--primary-color);
}
.cardBody a:hover {
    text-decoration: underline;
}
.cardBody p {
    margin: 10px 0px;
}
.cardBody>h2 {
    margin: 12px 0px;
}
@media screen and (max-width: 767px) {
    .card {
        flex: 1 1 auto;
    }
    .card img {
        height: 240px;
    }
}