.mainContainer {
    margin-top: 30px;
}
.orderNo {
  margin: 0px 0px 25px 0px;
  color: var(--primary-color);
}
.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.leftContainer {
  display: flex;
  flex-direction: column;
  width: 60%;
}
.leftContainer > hr {
  border: 1px solid rgba(0, 0, 0, 0.122);
  margin: 20px 0px;
}
.leftContainer .step {
  display: flex;
  flex-direction: column;
}
.leftContainer .step h2 {
  color: var(--primary-color);
  margin-bottom: 15px;
  text-transform: uppercase;
}
.leftContainer .step p {
  color: var(--primary-color);
  font-weight: bold;
  margin-bottom: 15px;
}
.leftContainer .step .products {
  padding: 10px 10px;
}
.leftContainer .step .products hr {
  border: 1px solid rgba(0, 0, 0, 0.122);
  margin: 10px 0px;
}
.leftContainer .step .products .product {
  display: flex;
  align-items: center;
}
.leftContainer .step .products .product img {
  width: 50px;
  margin-right: 15px;
}
.leftContainer .step .products .product p {
  color: var(--primary-color);
  font-size: 14px;
  flex-grow: 1;
}
.leftContainer .step .products .product span {
  color: var(--primary-color);
  font-size: 14px;
  font-weight: bold;
}

.rightContainer {
  width: 35%;
}
.orderSummary {
  border: 1px solid rgba(0, 0, 0, 0.192);
  flex: 0 1 23%;
}
.orderSummary h2 {
  color: var(--primary-color);
  padding: 10px 15px;
  text-transform: uppercase;
}
.orderSummary > span {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
}
.orderSummary > span:nth-child(1) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.192);
}
.orderSummary > span:nth-child(2) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.192);
}
.orderSummary > span:nth-child(3) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.192);
}
.orderSummary > span:nth-child(4) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.192);
}
.orderSummary > span:nth-child(5) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.192);
}
.orderSummary > span > button {
  color: #ffffff;
  background-color: black;
  text-transform: uppercase;
  width: 100%;
  padding: 10px 0px;
  font-size: 12px;
  cursor: pointer;
  border: none;
}

.rightContainer .markAsDeliveredBtn {
  display: flex;
  place-content: center;
}
.rightContainer .markAsDeliveredBtn > button {
  color: black;
  font-weight: bold;
  background-color: #85f2be;
  text-transform: uppercase;
  width: 100%;
  margin: 10px 15px 0px 15px;
  padding: 15px 0px;
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
  border: none;
}