.container {
    display: flex;
    justify-content: space-between;
    height: 100vh;
    padding-top: 30px;
}
.formContainer {
    width: 35%;
    min-width: 300px;
    max-width: 600px;
}
.formContainer h1 {
    text-transform: uppercase;
    margin-bottom: 30px;
    color: var(--primary-color)
}
.formContainer form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 25px;
}
.formContainer form .field {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
    width: 100%;
}
.formContainer form .field label {
    margin-bottom: 10px;
}
.formContainer form .field input {
    border-radius: 3px;
    outline: none;
    padding: 15px 10px;
    border: none;
    background: #32323218;
}
.formContainer form button {
    border-radius: 3px;
    padding: 15px 40px;
    background: var(--primary-color);
    border: none;
    color: #ffffff;
    text-transform: uppercase;
    margin-bottom: 25px;
    cursor: pointer;
}
/* my orders */
.myOrdersContainer {
    width: 62%;
}
.myOrdersContainer .icon {
    font-size: 16px;
    color: var(--primary-color);
}
.myOrdersContainer h1 {
    text-transform: uppercase;
    margin-bottom: 30px;
    color: var(--primary-color)
}
.myOrdersContainer > table {
    width: 100%;
    border-collapse: collapse;
    font-size: 12px;
}
.myOrdersContainer > table th{
    text-align: center;
}
.headingRow th {
    padding: 5px 0px;
    border: 1px solid rgba(0, 0, 0, 0.122);
}
.dataRow {
    background: #32323218;
}
.myOrdersContainer > table td {
    text-align: center;
    padding: 15px 0px;
    border: 1px solid rgba(0, 0, 0, 0.122);
}